
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');


.font-family-size {
    font-family: "Ga Maamli", cursive;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline{
text-decoration: underline;
text-decoration: line-through;
/* text-decoration: line-through;*/
}

.center-align {
    text-align: center;
}

.line-height {
    line-height: 4;
}

.letter-spacing{
    letter-spacing: 3px;
    word-spacing: 4px;
}

.text-shadow 
    /*
1st value----> horizontal
2nd value----> vertical
3rd value----> blurr */
    { text-shadow:  5px 5px 2px rgb(27, 47, 0)
}